
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
  
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    


    
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3d426b;
    color: white;
    padding: 15px 30px;

    
}
.navlink {
list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}
   .navlink a {
        text-decoration: none;
        color: white;
        
        
    }
    .navlink a:hover {
        color: orange;
        text-decoration: underline;
    }
    .logo {
        font-size: 20px;
        font-weight: 800;
        color: orange;
    }
